{% extends 'base.html' %} {% load static %} {% block content %}

<link rel="stylesheet" href="{% static 'css/artikel.css' %}" />

<div class="page-artikel">
  <div class="main-div-pengajar">
    <div class="title-div">
      <div class="title-inner">
        <div class="title-design-program">
          <h1 class="content-title-design-artikel1">Artikel</h1>
          <h1 class="content-title-design-artikel2">Fashion</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="pembatas-main-artikel"></div>
  <div class="konten-card-artikel">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3">
          <a href="{% url 'detailartikel' %}" class="card-direct">
            <div class="text-explanation-artikel">
              <img
                src="{% static 'img/artikel-image.png' %}"
                class="image-card-artikel"
                alt=""
              />
              <div class="isi-text-artikel">
                Tips untuk wanita bertubuh pendek
                <br />
                <a href="{% url 'detailartikel' %}" class="viewmore-artikel"
                  >View More</a
                >
              </div>
            </div></a
          >
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <a href="{% url 'detailartikel' %}" class="card-direct">
            <div class="text-explanation-artikel">
              <img
                src="{% static 'img/artikel-image.png' %}"
                class="image-card-artikel"
                alt=""
              />
              <div class="isi-text-artikel">
                Tips menggunakan pakaian baru
                <br />
                <a href="{% url 'detailartikel' %}" class="viewmore-artikel"
                  >View More</a
                >
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <a href="{% url 'detailartikel' %}" class="card-direct">
            <div class="text-explanation-artikel">
              <img
                src="{% static 'img/artikel-image.png' %}"
                class="image-card-artikel"
                alt=""
              />
              <div class="isi-text-artikel">
                4 cara ampuh menjadi fashion designer
                <br />
                <a href="{% url 'detailartikel' %}" class="viewmore-artikel"
                  >View More</a
                >
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <a href="{% url 'detailartikel' %}" class="card-direct">
            <div class="text-explanation-artikel">
              <img
                src="{% static 'img/artikel-image.png' %}"
                class="image-card-artikel"
                alt=""
              />
              <div class="isi-text-artikel">
                Jenis - jenis fashion style
                <br />
                <a href="{% url 'detailartikel' %}" class="viewmore-artikel"
                  >View More</a
                >
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <a href="{% url 'detailartikel' %}" class="card-direct">
            <div class="text-explanation-artikel">
              <img
                src="{% static 'img/artikel-image.png' %}"
                class="image-card-artikel"
                alt=""
              />
              <div class="isi-text-artikel">
                Prinsip-prinsip design
                <br />
                <a href="{% url 'detailartikel' %}" class="viewmore-artikel"
                  >View More</a
                >
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <a href="{% url 'detailartikel' %}" class="card-direct">
            <div class="text-explanation-artikel">
              <img
                src="{% static 'img/artikel-image.png' %}"
                class="image-card-artikel"
                alt=""
              />
              <div class="isi-text-artikel">
                Kunci menjadi desainer sukses
                <br />
                <a href="{% url 'detailartikel' %}" class="viewmore-artikel"
                  >View More</a
                >
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <a href="{% url 'detailartikel' %}" class="card-direct">
            <div class="text-explanation-artikel">
              <img
                src="{% static 'img/artikel-image.png' %}"
                class="image-card-artikel"
                alt=""
              />
              <div class="isi-text-artikel">
                Pengertian, fungsi, tujuan desain
                <br />
                <a href="{% url 'detailartikel' %}" class="viewmore-artikel"
                  >View More</a
                >
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <a href="{% url 'detailartikel' %}" class="card-direct">
            <div class="text-explanation-artikel">
              <img
                src="{% static 'img/artikel-image.png' %}"
                class="image-card-artikel"
                alt=""
              />
              <div class="isi-text-artikel">
                Fungsi dan manfaat fashion dalam kehidupan
                <br />
                <a href="{% url 'detailartikel' %}" class="viewmore-artikel"
                  >View More</a
                >
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <a href="{% url 'detailartikel' %}" class="card-direct">
            <div class="text-explanation-artikel">
              <img
                src="{% static 'img/artikel-image.png' %}"
                class="image-card-artikel"
                alt=""
              />
              <div class="isi-text-artikel">
                Tips berbusana pesta siang hari
                <br />
                <a href="{% url 'detailartikel' %}" class="viewmore-artikel"
                  >View More</a
                >
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <a href="{% url 'detailartikel' %}" class="card-direct">
            <div class="text-explanation-artikel">
              <img
                src="{% static 'img/artikel-image.png' %}"
                class="image-card-artikel"
                alt=""
              />
              <div class="isi-text-artikel">
                Tips berbusana pesta malam hari
                <br />
                <a href="{% url 'detailartikel' %}" class="viewmore-artikel"
                  >View More</a
                >
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <a href="{% url 'detailartikel' %}" class="card-direct">
            <div class="text-explanation-artikel">
              <img
                src="{% static 'img/artikel-image.png' %}"
                class="image-card-artikel"
                alt=""
              />
              <div class="isi-text-artikel">
                Tips memilih baju pesta sesuai dengan tubuh
                <br />
                <a href="{% url 'detailartikel' %}" class="viewmore-artikel"
                  >View More</a
                >
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <a href="{% url 'detailartikel' %}" class="card-direct">
            <div class="text-explanation-artikel">
              <img
                src="{% static 'img/artikel-image.png' %}"
                class="image-card-artikel"
                alt=""
              />
              <div class="isi-text-artikel">
                Tips berpakaian tampil terlihat muda
                <br />
                <a href="{% url 'detailartikel' %}" class="viewmore-artikel"
                  >View More</a
                >
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <a href="{% url 'detailartikel' %}" class="card-direct">
            <div class="text-explanation-artikel">
              <img
                src="{% static 'img/artikel-image.png' %}"
                class="image-card-artikel"
                alt=""
              />
              <div class="isi-text-artikel">
                Tips memakai perhiasan yang tepat
                <br />
                <a href="{% url 'detailartikel' %}" class="viewmore-artikel"
                  >View More</a
                >
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <a href="{% url 'detailartikel' %}" class="card-direct">
            <div class="text-explanation-artikel">
              <img
                src="{% static 'img/artikel-image.png' %}"
                class="image-card-artikel"
                alt=""
              />
              <div class="isi-text-artikel">
                Tips berpakaian untuk pria kurus agar menarik
                <br />
                <a href="{% url 'detailartikel' %}" class="viewmore-artikel"
                  >View More</a
                >
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <a href="{% url 'detailartikel' %}" class="card-direct">
            <div class="text-explanation-artikel">
              <img
                src="{% static 'img/artikel-image.png' %}"
                class="image-card-artikel"
                alt=""
              />
              <div class="isi-text-artikel">
                Tips menggunakan aksesoris hijab
                <br />
                <a href="{% url 'detailartikel' %}" class="viewmore-artikel"
                  >View More</a
                >
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <a href="{% url 'detailartikel' %}" class="card-direct">
            <div class="text-explanation-artikel">
              <img
                src="{% static 'img/artikel-image.png' %}"
                class="image-card-artikel"
                alt=""
              />
              <div class="isi-text-artikel">
                Tips memilih warna baju agar tidak kusam
                <br />
                <a href="{% url 'detailartikel' %}" class="viewmore-artikel"
                  >View More</a
                >
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <a href="{% url 'detailartikel' %}" class="card-direct">
            <div class="text-explanation-artikel">
              <img
                src="{% static 'img/artikel-image.png' %}"
                class="image-card-artikel"
                alt=""
              />
              <div class="isi-text-artikel">
                Tips berbusana tampil elegan
                <br />
                <a href="{% url 'detailartikel' %}" class="viewmore-artikel"
                  >View More</a
                >
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <a href="{% url 'detailartikel' %}" class="card-direct">
            <div class="text-explanation-artikel">
              <img
                src="{% static 'img/artikel-image.png' %}"
                class="image-card-artikel"
                alt=""
              />
              <div class="isi-text-artikel">
                Tips berbusana menurut psikologi
                <br />
                <a href="{% url 'detailartikel' %}" class="viewmore-artikel"
                  >View More</a
                >
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <a href="{% url 'detailartikel' %}" class="card-direct">
            <div class="text-explanation-artikel">
              <img
                src="{% static 'img/artikel-image.png' %}"
                class="image-card-artikel"
                alt=""
              />
              <div class="isi-text-artikel">
                Unsur desain yang harus kamu ketahui
                <br />
                <a href="{% url 'detailartikel' %}" class="viewmore-artikel"
                  >View More</a
                >
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
          <a href="{% url 'detailartikel' %}" class="card-direct">
            <div class="text-explanation-artikel">
              <img
                src="{% static 'img/artikel-image.png' %}"
                class="image-card-artikel"
                alt=""
              />
              <div class="isi-text-artikel">
                Tips menjadi seorang desainer sukses
                <br />
                <a href="{% url 'detailartikel' %}" class="viewmore-artikel"
                  >View More</a
                >
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
